/*Common CSS START*/
.slick-dots li.slick-active button:hover {
  color: #1e73be; }
  .slick-dots li.slick-active button::before {
    color: #1e73be; }

.breadcrumb-item + .breadcrumb-item::before {
  color: #e5e5e5; }

li.breadcrumb-item.active {
  color: #6dd622; }
  li.breadcrumb-item a {
    color: #e5e5e5; }

.navyblue-bg {
  background-color: #1e73be;
  color: #e5e5e5; }

.red {
  color: #6dd622; }

.red-bg {
  background-color: #6dd622; }

.primary {
  color: #1e73be; }

.primary-bg {
  background-color: #1e73be; }

.dark {
  color: #178db7; }

.light-blue {
  color: ; }

.white {
  color: #e5e5e5; }

.dark-bg {
  background-color: #178db7;
  color: #e5e5e5; }

.white-bg {
  background-color: #e5e5e5; }

.light-blue-bg {
  background-color: ; }

.editor-design blockquote {
  border-left: 2px solid #1e73be; }

.inner-banner-section h1 {
  color: #e5e5e5; }

body {
  color: #1e73be;
  background-color: #e5e5e5; }

h1 {
  color: #e5e5e5; }

h2 {
  color: #1e73be; }

.btn, .btn-secondary, .button {
  background-color: #6dd622;
  color: #e5e5e5;
  border-color: #6dd622; }
  .btn.btn-outline-navyblue, .btn-secondary.btn-outline-navyblue, .button.btn-outline-navyblue {
    color: #6dd622;
    border-color: #6dd622;
    border: 1px solid #6dd622;
    background-color: transparent; }
    .btn.btn-outline-navyblue:hover, .btn-secondary.btn-outline-navyblue:hover, .button.btn-outline-navyblue:hover {
      background-color: #6dd622;
      color: #e5e5e5;
      border-color: #6dd622; }
  .btn:hover, .btn-secondary:hover, .button:hover {
    background-color: #af284c;
    color: #e5e5e5;
    border-color: #af284c; }

.orange-btn, .button {
  background-color: #af284c;
  color: #e5e5e5;
  border-color: #af284c; }
  .orange-btn:hover, .button:hover {
    background-color: #6dd622;
    color: #e5e5e5;
    border-color: #6dd622; }

.dark-blue {
  background-color: #1e73be;
  color: #e5e5e5;
  border-color: #1e73be; }
  .dark-blue:hover {
    background-color: #6dd622;
    color: #e5e5e5;
    border-color: #6dd622; }

.top-nav {
  background-color: #1e73be;
  color: #e5e5e5; }
  .top-nav .container .client-area-wrap button#dropdownMenuButton1 {
    background: transparent;
    color: #6dd622;
    border: 0; }
    .top-nav .container .client-area-wrap ul {
      box-shadow: -1px 1px 7px 3px rgba(30, 115, 190, 0.12);
      background-color: rgba(30, 115, 190, 0.94); }
      .top-nav .container .client-area-wrap ul li a {
        color: #e5e5e5; }
        .top-nav .container .client-area-wrap ul li a:hover {
          color: #e5e5e5;
          background-color: #6dd622; }
    .top-nav .container .social-nav ul li a {
      color: #1e73be; }
      .top-nav .container .social-nav ul li a:hover {
        color: #6dd622; }
    .top-nav .container .header-contact ul li a {
      color: #e5e5e5; }
      .top-nav .container .header-contact ul li a:hover {
        color: #6dd622; }
  .top-nav .social-nav ul li a {
    color: #e5e5e5; }

header.fixed {
  background: #e5e5e5; }
  header button:hover {
    background: transparent; }

@media (max-width: 991px) {
    .navbar-dark .navbar-collapse {
      background-color: #1e73be; }
      .navbar-dark .navbar-collapse .btn {
        background-color: #e5e5e5;
        color: #178db7;
        border-color: #e5e5e5; } }
  .navbar-dark .navbar-nav .nav-item .nav-link {
    color: #ededed; }
    @media (max-width: 991px) {
      .navbar-dark .navbar-nav .nav-item .nav-link {
        color: #e5e5e5; } }
    .navbar-dark .navbar-nav .nav-item .nav-link:hover {
      color: #1e73be; }
    @media (max-width: 991px) {
      .navbar-dark .navbar-nav .nav-item .nav-link:hover {
        color: #6dd622; } }
    .navbar-dark .navbar-nav .nav-item:hover .nav-link::after {
      color: #1e73be; }
    .navbar-dark .navbar-nav .active.nav-item .nav-link {
      color: #6dd622; }
    .navbar-dark .navbar-nav .active.nav-item .nav-link::after {
      color: #6dd622; }
    @media (max-width: 991px) {
      .navbar-dark .navbar-nav .active.nav-item .nav-link {
        color: #e5e5e5; }
        .navbar-dark .navbar-nav .active.nav-item .nav-link::after {
          color: #e5e5e5; } }
    @media (max-width: 991px) {
      .navbar-dark .navbar-nav .menu-item-has-children .arrow-icon:after {
        color: #e5e5e5; } }
    @media (max-width: 992px) {
      .navbar-dark .navbar-nav .current-menu-item.menu-item-has-children .arrow-icon:after {
        color: #e5e5e5; } }
  @media (max-width: 991px) {
    .navbar-dark .dropdown-menu {
      border: 0px;
      border-left: 0;
      border-right: 0;
      background-color: #1e73be; } }
    .navbar-dark .dropdown-menu .nav-item .dropdown-item {
      color: #ededed; }
    @media (max-width: 991px) {
      .navbar-dark .dropdown-menu .nav-item .dropdown-item {
        color: #e5e5e5; } }
    .navbar-dark .dropdown-menu .nav-item .dropdown-item:hover {
      color: #1e73be;
      background: #1e73be;
      color: #e5e5e5; }
    .navbar-dark .dropdown-menu .current-menu-item.nav-item a {
      color: #e5e5e5;
      background-color: #1e73be; }
    @media (max-width: 991px) {
      .navbar-dark .dropdown-menu .current-menu-item.nav-item a {
        color: #e5e5e5; } }
  .navbar-dark .dropdown-toggle::after {
    color: #ededed; }
  .navbar-dark .navbar-toggler .navbar-toggler-icon::before, .navbar-dark .navbar-toggler .navbar-toggler-icon::after {
    background: #ededed; }

footer {
  background-color: rgba(23, 141, 183, 0.95); }
  footer .footer-wrap .footer-content p {
    color: #e5e5e5; }
    footer .footer-wrap nav li a {
      color: #e5e5e5; }
    footer .footer-wrap nav li a:hover {
      color: #6dd622; }
    footer .footer-wrap h5 {
      color: #6dd622; }
    footer .footer-wrap .social-nav ul li a i {
      color: #e5e5e5; }
    footer .footer-wrap .social-nav ul li a i:hover {
      color: #6dd622; }
    footer .footer-wrap address {
      color: #e5e5e5; }
  footer .disclamer-wrap {
    color: rgba(229, 229, 229, 0.5); }
  footer .social-wrap {
    background-color: #178db7; }
    footer .social-wrap .container {
      border-top: 1px solid rgba(23, 141, 183, 0.14); }
    footer .social-wrap .container ul li a {
      color: #1e73be; }
    footer .social-wrap .container ul li a:hover {
      color: #1e73be; }
    footer .social-wrap .container .copyright-wrap {
      color: rgba(229, 229, 229, 0.5); }

.page-not-found h1 {
  color: #1e73be; }

.no-results .page-header h1 {
  color: #1e73be; }
  .no-results .search-form .input-group .submit {
    color: #e5e5e5;
    background-color: #1e73be; }
    .no-results .search-form .input-group .submit:hover, .no-results .search-form .input-group .submit:focus {
      background-color: #178db7;
      color: #e5e5e5; }

.search-results .page-header .page-title {
  color: #af284c; }
  .search-results h2.entry-title a {
    color: #1e73be; }
    .search-results h2.entry-title a:hover, .search-results h2.entry-title a:focus {
      color: #af284c; }
  .search-results article {
    border-bottom: 1px solid #1e73be; }
    .search-results article .btn {
      background-color: #1e73be;
      color: #e5e5e5;
      border: 1px solid #1e73be; }
    .search-results article .btn:hover {
      border: 1px solid #6dd622;
      background-color: #6dd622; }
    .search-results article a:not(.btn) {
      color: #1e73be; }
    .search-results article a:not(.btn):hover, .search-results article a:not(.btn):focus {
      color: #6dd622; }
  .search-results .page-item.active .page-link {
    color: #e5e5e5;
    background-color: #1e73be;
    border-color: #1e73be; }
  .search-results .page-link {
    color: #1e73be; }
    .search-results .page-link:hover {
      background-color: #1e73be;
      border-color: #1e73be;
      color: #e5e5e5; }

.single .blog-wraper .row aside, .archive .blog-wraper .row aside {
  background: #e5e5e5; }
  .single .blog-wraper .row aside .social-wrap a, .archive .blog-wraper .row aside .social-wrap a {
    color: #a8a8a8; }
    .single .blog-wraper .row aside .social-wrap a:hover, .archive .blog-wraper .row aside .social-wrap a:hover {
      color: #6dd622; }
  .single .wrapper .entry-title, .archive .wrapper .entry-title {
    color: ; }
  .single .wrapper .content-area a, .archive .wrapper .content-area a {
    color: #1e73be; }
  .single .wrapper .entry-meta a, .archive .wrapper .entry-meta a {
    color: #1e73be; }
  .single .wrapper .entry-meta a:hover, .archive .wrapper .entry-meta a:hover {
    color: #af284c; }
  .single .wrapper button.wp-block-search__button.wp-element-button:before, .archive .wrapper button.wp-block-search__button.wp-element-button:before {
    color: #6dd622; }
  .single .wrapper button.wp-block-search__button.wp-element-button:hover:before, .archive .wrapper button.wp-block-search__button.wp-element-button:hover:before {
    color: #1e73be; }
  .single .wrapper input#wp-block-search__input-1, .archive .wrapper input#wp-block-search__input-1 {
    border: 1px solid rgba(23, 141, 183, 0.08); }
  .single .wrapper .post-navigation .nav-previous a, .archive .wrapper .post-navigation .nav-previous a, .single .wrapper .post-navigation .nav-next a, .archive .wrapper .post-navigation .nav-next a {
    background: #178db7;
    color: #e5e5e5; }
  .single .wrapper .post-navigation .nav-previous a:hover, .archive .wrapper .post-navigation .nav-previous a:hover, .single .wrapper .post-navigation .nav-next a:hover, .archive .wrapper .post-navigation .nav-next a:hover {
    background: #1e73be;
    color: #e5e5e5;
    border-color: #1e73be; }
  .single .wrapper .tag-single a:hover, .archive .wrapper .tag-single a:hover {
    color: #1e73be; }
  .single .comments-area .comment-reply-title, .archive .comments-area .comment-reply-title {
    color: #1e73be; }
  .single #right-sidebar .widget .search-form .search-field, .archive #right-sidebar .widget .search-form .search-field {
    border-color: #a8a8a8; }
  .single #right-sidebar .widget .search-form .submit, .archive #right-sidebar .widget .search-form .submit {
    color: #e5e5e5; }
  .single #right-sidebar .widget.widget_categories ul li a, .archive #right-sidebar .widget.widget_categories ul li a {
    color: #1e73be; }
    .single #right-sidebar .widget.widget_categories ul li a::before, .archive #right-sidebar .widget.widget_categories ul li a::before {
      color: #6dd622; }
    .single #right-sidebar .widget.widget_categories ul li a:hover, .archive #right-sidebar .widget.widget_categories ul li a:hover {
      color: #6dd622; }
      .single #right-sidebar .widget.widget_categories ul li a:hover::before, .archive #right-sidebar .widget.widget_categories ul li a:hover::before {
        color: #1e73be; }
  .single #right-sidebar .widget .wp-block-latest-posts a.wp-block-latest-posts__post-title, .archive #right-sidebar .widget .wp-block-latest-posts a.wp-block-latest-posts__post-title {
    color: #1e73be; }
  .single #right-sidebar .widget .wp-block-latest-posts a.wp-block-latest-posts__post-title:hover, .archive #right-sidebar .widget .wp-block-latest-posts a.wp-block-latest-posts__post-title:hover {
    color: #6dd622; }
  .single #right-sidebar .widget .wp-block-latest-posts .wp-block-latest-posts__post-author, .archive #right-sidebar .widget .wp-block-latest-posts .wp-block-latest-posts__post-author {
    color: #a8a8a8; }
  .single #right-sidebar aside#radius_categories_widget-2 li.cat-item a, .archive #right-sidebar aside#radius_categories_widget-2 li.cat-item a {
    color: inherit; }
  .single #right-sidebar aside#radius_categories_widget-2 li.cat-item a:hover, .archive #right-sidebar aside#radius_categories_widget-2 li.cat-item a:hover {
    color: #6dd622; }

.full-width-wysiwyg .editor-design h5 {
  color: #178db7; }
  .full-width-wysiwyg .editor-design a:not(.btn) {
    color: #178db7; }
  .full-width-wysiwyg .editor-design a:not(.btn):hover {
    color: #1e73be; }
  .full-width-wysiwyg .editor-design a.button {
    color: #e5e5e5; }
  .full-width-wysiwyg .editor-design a.button:hover {
    color: #e5e5e5; }

.default-content ul li:before {
  color: #6dd622; }

.default-content blockquote {
  color: #178db7;
  border-left: 4px solid #178db7; }

.default-content a:not(.btn) {
  color: #1e73be; }
  .default-content a:not(.btn):hover {
    color: #af284c; }
  .default-content a.button {
    color: #e5e5e5; }
  .default-content a.button:hover {
    color: #e5e5e5; }
  .default-content h1, .default-content h3, .default-content h4, .default-content h5 {
    color: #178db7; }

.infobox-section .info-box {
  background-color: #e5e5e5;
  box-shadow: 0 0 80px rgba(23, 141, 183, 0.16); }
  .infobox-section .info-box h5 {
    color: #ededed; }
  .infobox-section .info-box p {
    color: rgba(23, 141, 183, 0.8); }
  .infobox-section .info-box:hover {
    background-color: #af284c; }
  .infobox-section .info-box a {
    color: #1e73be; }
  .infobox-section .info-box a:hover {
    color: #178db7; }
  .infobox-section .section-inner-wrapper {
    background: #f7f6f6; }
  .infobox-section .section-inner-wrapper .cta {
    background-color: #6dd622;
    color: #e5e5e5; }
  .infobox-section .section-inner-wrapper .cta a {
    color: #e5e5e5; }
  .infobox-section .section-inner-wrapper .cta a:hover {
    color: #178db7; }

.infobox-section.resource-infobox .info-box h5 {
  color: #6dd622; }
  .infobox-section.resource-infobox .info-box h4 {
    color: #1e73be; }
  .infobox-section.resource-infobox .info-box:hover {
    background-color: #6dd622; }
  .infobox-section.resource-infobox .info-box:hover img {
    filter: brightness(0) saturate(100%) invert(97%) sepia(8%) saturate(1%) hue-rotate(165deg) brightness(113%) contrast(100%); }
  .infobox-section.resource-infobox .info-box:hover * {
    color: #e5e5e5; }
  .infobox-section.resource-infobox .editor-design h2, .infobox-section.resource-infobox .editor-design p {
    color: #178db7; }

.infobox-section.resource-infobox.checklist-infobox .info-box a {
  background-color: #af284c;
  color: #e5e5e5;
  border-color: #af284c; }

.infobox-section.checklist-infobox.content-type-section .info-box a.btn {
  background-color: #1e73be;
  color: #e5e5e5;
  border-color: #1e73be; }
  .infobox-section.checklist-infobox.content-type-section .info-box a.btn:hover {
    background-color: #178db7;
    color: #e5e5e5;
    border-color: #178db7; }

.infobox-section.content-topic-section .info-box .orange-btn:hover {
  background-color: #1e73be;
  color: #e5e5e5; }
  .infobox-section.content-topic-section .info-box:hover {
    background-color: #6dd622; }

.resource-video-section .resource-video a:before {
  background-image: linear-gradient(to left, rgba(255, 0, 0, 0), #1e73be); }
  .resource-video-section .resource-video a i {
    color: #e5e5e5; }
  .resource-video-section .resource-video .video-info {
    color: #e5e5e5; }
  .resource-video-section .resource-content .row ul li a {
    color: inherit; }
    .resource-video-section .resource-content .row ul li a:hover {
      color: #6dd622; }

.accordion-item .accordion-button {
  background-color: #1e73be;
  color: #e5e5e5; }

.accordion .accordion-item .accordion-body {
  background-color: rgba(23, 141, 183, 0.08); }

.infobox-section.checklist-infobox.content-topic-section .info-box p {
  color: #1e73be; }

.responsive-tabs .nav-tabs .nav-link {
  color: #178db7; }
  .responsive-tabs .card-header {
    background-color: #1e73be; }
  .responsive-tabs .card-header a {
    color: #e5e5e5; }
  @media (min-width: 992px) {
  .responsive-tabs .nav-tabs .nav-item .nav-link.active {
    color: #1e73be;
    border-bottom: 2px solid #1e73be; } }

.two-col-badge {
  background-color: #6dd622;
  color: #e5e5e5; }
  .two-col-badge h3 {
    color: #e5e5e5; }

.xl-font-wrap h6 {
  color: #6dd622; }
  .xl-font-wrap .xl-font {
    color: #1e73be;
    -webkit-text-fill-color: #e5e5e5;
    -webkit-text-stroke-color: #1e73be; }

.counter-section .counter-wrap span {
  color: #178db7; }

.call-to-action-section:before {
  background-color: rgba(30, 115, 190, 0.8); }
  .call-to-action-section .full-width-wysiwyg .editor-design p {
    color: #e5e5e5; }
  .call-to-action-section .btn:hover {
    background-color: #e5e5e5;
    color: #1e73be;
    border-color: #e5e5e5; }

.user-avtar {
  background-color: ; }

.testimonial-left-content h3 {
  color: #178db7; }

.testimonial-card .testimonial-card-inner {
  background: #e5e5e5; }
  .testimonial-card .testimonial-card-inner .testimonial-header {
    border-bottom: 1px solid ; }

.pricing-section .form-check.form-switch .form-check-input {
  background-color: #6dd622;
  border-color: #6dd622; }
  .pricing-section .form-check.form-switch .form-check-input:checked {
    background-color: #1e73be;
    border-color: #1e73be; }
  .pricing-section .card:hover {
    background-color: #6dd622; }
  .pricing-section .card:hover .card-header h6 {
    color: #e5e5e5; }
  .pricing-section .card:hover .card-body img {
    filter: brightness(0) saturate(100%) invert(97%) sepia(8%) saturate(1%) hue-rotate(165deg) brightness(113%) contrast(100%); }
  .pricing-section .card:hover * {
    color: #e5e5e5; }
  .pricing-section .card:hover .btn {
    background-color: #e5e5e5;
    color: #6dd622; }
  .pricing-section .card:hover .btn i {
    color: #6dd622; }
  .pricing-section .card .card-header h6 {
    color: #6dd622; }
  .pricing-section .card .card-body ul {
    color: #1e73be; }
  .pricing-section .card .card-body ul img {
    filter: brightness(0) saturate(100%) invert(0%) sepia(97%) saturate(9%) hue-rotate(108deg) brightness(89%) contrast(100%); }

.package-details-wrap h5 {
  color: #6dd622; }
  .package-details-wrap .editor-design {
    border-bottom: 1px solid rgba(30, 115, 190, 0.14); }
  .package-details-wrap ul li img {
    filter: brightness(0) saturate(100%) invert(0%) sepia(97%) saturate(9%) hue-rotate(108deg) brightness(89%) contrast(100%); }

.testimonial-section .testimonial-bg {
  background-color: #1e73be; }
  .testimonial-section .testimonial-slider .testimonial-slide > div .client-text-wrap {
    color: #e5e5e5; }
  .testimonial-section .testimonial-slider .testimonial-slide > div .client-text-wrap span {
    color: rgba(229, 229, 229, 0.5); }
  .testimonial-section .testimonial-slider .testimonial-slide > div .client-text-wrap a {
    color: #e5e5e5; }

.testimonial-list h2 {
  color: #e5e5e5; }
  .testimonial-list .xl-font-wrap .xl-font {
    -webkit-text-stroke-color: #e5e5e5;
    -webkit-text-fill-color: transparent; }
  .testimonial-list .our-word p, .testimonial-list .our-word span {
    color: #e5e5e5; }
  .testimonial-list .our-word .card-wrap .star-wrap {
    color: #af284c; }
  .testimonial-list .our-word .card-wrap .client-word-wrap {
    border-bottom: 1px solid #a8a8a8; }
  .testimonial-list .our-word .card-wrap .client-word-wrap:after {
    border-top: 10px solid #a8a8a8; }
  .testimonial-list .our-word .card-wrap .client-details h5 {
    color: #e5e5e5; }
  .testimonial-list .our-word .card-wrap .client-details span {
    color: #af284c; }
  .testimonial-list.testimonial-all-list .our-word p, .testimonial-list.testimonial-all-list .our-word span {
    color: #1e73be; }
  .testimonial-list.testimonial-all-list .our-word .client-details h5 {
    color: #1e73be; }
  .testimonial-list.testimonial-all-list .our-word .client-details span {
    color: #6dd622; }
  .testimonial-list.testimonial-all-list .our-word:before {
    background: #1e73be; }
  .testimonial-list.testimonial-all-list .our-word:hover p {
    color: #e5e5e5;
    opacity: 0.1; }
  .testimonial-list.testimonial-all-list .our-word:hover img.quote-img {
    filter: brightness(0) saturate(100%) invert(100%) sepia(0%) saturate(7500%) hue-rotate(140deg) brightness(122%) contrast(115%);
    opacity: 0.1; }

.testimonial-list.testimonial-all-list.single-testimonial .our-word:before {
  display: none; }
  .testimonial-list.testimonial-all-list.single-testimonial .our-word:hover p {
    color: #1e73be;
    opacity: 1; }
  .testimonial-list.testimonial-all-list.single-testimonial .our-word:hover img.quote-img {
    filter: unset;
    opacity: 1; }

.single-testimonial-banner img.quote-img {
  filter: brightness(0) saturate(100%) invert(100%) sepia(0%) saturate(7500%) hue-rotate(140deg) brightness(122%) contrast(115%); }
  .single-testimonial-banner .star-wrap, .single-testimonial-banner .client-content span {
    color: #af284c; }
  .single-testimonial-banner .client-word-full-wrap, .single-testimonial-banner .client-content h5 {
    color: #e5e5e5; }

.signup_modal .form-wrap {
  background: #1e73be; }
  .signup_modal .form-wrap .modal-header .btn-close {
    background: #e5e5e5; }
  .signup_modal .form-wrap h2 {
    color: #e5e5e5; }
  .signup_modal .form-wrap .gform_wrapper.gravity-theme .gfield-choice-input + label {
    color: #e5e5e5; }

.four-col-team-section .team-member-wrap .member-details {
  color: #6dd622;
  background-color: #e5e5e5; }
  .four-col-team-section .team-member-wrap .member-details h4 {
    color: #1e73be; }
  .four-col-team-section .team-member-wrap .member-details h4:hover {
    color: #6dd622; }
  .four-col-team-section .team-member-wrap .member-details a {
    color: #1e73be; }
  .four-col-team-section .team-member-wrap .member-details a:hover {
    color: #6dd622; }
  .four-col-team-section .slick-prev, .four-col-team-section .slick-next {
    background-color: #1e73be;
    color: #e5e5e5; }
  .four-col-team-section .slick-dots li button:before {
    color: #e5e5e5; }
  .four-col-team-section .slick-dots li.slick-active button::before {
    color: #e5e5e5; }

.pagination li .page-link {
  background: #e5e5e5;
  color: #1e73be; }

.team-section {
  color: #e5e5e5; }
  .team-section .xl-font {
    -webkit-text-fill-color: transparent; }
  .team-section .xl-font-wrap h6, .team-section h2 {
    color: #e5e5e5; }
  .team-section .two-col-badge {
    background-color: #af284c;
    color: #e5e5e5; }
  .team-section .two-col-badge h3 {
    color: #1e73be; }

.blog-listing-section .filter-wrap h4 {
  color: #1e73be; }
  .blog-listing-section .filter-wrap span {
    background: #6dd622;
    color: #e5e5e5; }
  .blog-listing-section .filter-wrap ul li:hover {
    background: #6dd622;
    color: #e5e5e5; }
  .blog-listing-section .filter-wrap ul li.active {
    background: transparent;
    color: #1e73be; }

.newsletter-section {
  background-color: #fbfbfb; }
  .teamlist-section .team-member-wrap .team-social-wrap .plus-icon, .teamlist-section .team-member-wrap .team-social-wrap .team-social a {
    background: #6dd622;
    color: #e5e5e5;
    box-shadow: 5px 3px 20px rgba(23, 141, 183, 0.16); }
  .teamlist-section .team-member-wrap .team-social-wrap .team-social a {
    background: #e5e5e5;
    color: #1e73be; }
  .teamlist-section .team-member-wrap .team-social-wrap .team-social a:hover {
    background: #6dd622;
    color: #e5e5e5; }
  .teamlist-section .team-member-wrap .member-details h4 a {
    color: #1e73be; }
  .teamlist-section .team-member-wrap .member-details h6 {
    color: #6dd622; }
  .teamlist-section .team-member-wrap:hover {
    background: #1e73be; }
  .teamlist-section .team-member-wrap:hover .member-details h4, .teamlist-section .team-member-wrap:hover .member-details h6 {
    color: #e5e5e5; }
  .teamlist-section .team-member-wrap:hover .member-details h4 a, .teamlist-section .team-member-wrap:hover .member-details h6 a {
    color: #e5e5e5; }

.member-details-section .member-img {
  box-shadow: 5px 5px 50px rgba(23, 141, 183, 0.09); }
  .member-details-section .member-img .address-wrpal ul li a {
    color: inherit;
    border-bottom: 1px solid rgba(23, 141, 183, 0.08); }
  .member-details-section .member-img .address-wrpal ul li a i {
    color: #6dd622; }
  .member-details-section .member-img .address-wrpal ul li a:hover {
    color: #6dd622; }
  .member-details-section h6 {
    color: #6dd622; }
  .member-details-section .social-wrap {
    border: 1px solid rgba(30, 115, 190, 0.15);
    border-left: 0;
    border-right: 0; }
  .member-details-section .social-wrap ul.social-nav li a {
    color: #1e73be; }
  .member-details-section .social-wrap ul.social-nav li a:hover {
    color: #6dd622; }

.get-in-touch:before {
  background-color: rgba(23, 141, 183, 0.18); }
  .get-in-touch h2 + p {
    color: #178db7; }
  .get-in-touch .location-wrap ul li i {
    color: #6dd622; }
  .get-in-touch .location-wrap ul li a {
    color: rgba(23, 141, 183, 0.8); }
  .get-in-touch .location-wrap ul li a:hover {
    color: #178db7; }
  .get-in-touch .location-wrap ul li:hover {
    color: #178db7; }
  .get-in-touch .location-wrap ul li:hover i {
    color: #178db7; }
  .get-in-touch .gForm .gform_wrapper form .gform_body .gform_fields .gfield .ginput_container ::-webkit-input-placeholder {
    color: #178db7; }
    .get-in-touch .gForm .gform_wrapper form .gform_body .gform_fields .gfield .ginput_container :-moz-placeholder {
      color: #178db7; }
    .get-in-touch .gForm .gform_wrapper form .gform_body .gform_fields .gfield .ginput_container ::-moz-placeholder {
      color: #178db7; }
    .get-in-touch .gForm .gform_wrapper form .gform_body .gform_fields .gfield .ginput_container :-ms-input-placeholder {
      color: #178db7; }
  .inner-banner-section h2 {
    color: #e5e5e5; }
  .inner-banner-section p {
    color: rgba(229, 229, 229, 0.8); }

.gform_wrapper .gform_heading .gform_title {
  display: none; }
  .gform_wrapper form .gform_body .gform_fields .gfield .ginput_container input[type="text"], .gform_wrapper form .gform_body .gform_fields .gfield .ginput_container input[type="number"], .gform_wrapper form .gform_body .gform_fields .gfield .ginput_container input[type="date"], .gform_wrapper form .gform_body .gform_fields .gfield .ginput_container input[type="email"], .gform_wrapper form .gform_body .gform_fields .gfield .ginput_container input[type="tel"], .gform_wrapper form .gform_body .gform_fields .gfield .ginput_container textarea {
    border: 1px solid #c3cad9;
    background: transparent; }
    .gform_wrapper form .gform_body .gform_fields .gfield .ginput_container ::placeholder {
      color: #a8a8a8; }
    .gform_wrapper form .gform_body .gform_fields .gfield .ginput_container ::-webkit-input-placeholder {
      color: #a8a8a8; }
    .gform_wrapper form .gform_body .gform_fields .gfield .ginput_container :-moz-placeholder {
      color: #a8a8a8; }
    .gform_wrapper form .gform_body .gform_fields .gfield .ginput_container ::-moz-placeholder {
      color: #a8a8a8; }
    .gform_wrapper form .gform_body .gform_fields .gfield .ginput_container :-ms-input-placeholder {
      color: #a8a8a8; }
    .gform_wrapper form .gform_footer input[type="submit"] {
      color: #e5e5e5;
      background-color: #6dd622; }
  .gform_wrapper form .gform_footer input[type="submit"]:hover {
    background-color: #1e73be;
    color: #e5e5e5; }

.gform_confirmation_message {
  color: #1e73be; }

input[type="submit"] {
  color: #1e73be; }
  input[type="submit"]:hover {
    background-color: #1e73be;
    color: #e5e5e5; }

.video-banner-section .btn-groups .play-video a h5 {
  color: #178db7; }
  .video-banner-section .btn-groups .play-video a span {
    background: #6dd622;
    color: #178db7; }
  .video-banner-section .btn-groups .play-video a:hover span {
    background: #1e73be;
    color: #e5e5e5; }
  .video-banner-section .btn-groups .play-video a:hover h5 {
    color: #1e73be; }
  .video-banner-section .video-img-wrap {
    background: transparent; }
